.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.img-thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.deleteform {
    display: inline;
}

/* .btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
} */